body 
{	background-color: #cccccc;
}
.topnavright 
{	color: #5e5e5e;
	text-align: right;
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-right: 10px;
}
.topnavright a:link 
{	text-decoration: none;
	color: #0069b5;
}
.topnavright a:visited 
{	text-decoration: none;
	color: #0069b5;
}
div.mainbackground 
{	background-color: #ffffff;
	padding: 17 17 17 17;
}
div.maintextregion 
{	background-color: #5e5e5e;
	color: #ffffff;
}
div.maintextregion h1 
{	color: #0094ff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 28px;
}
div.maintextregion h2 
{	color: #0094ff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 26px;
	margin-bottom: 2px;
	margin-top: 28px;
}
div.maintextregion h3 
{	color: #0094ff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 28px;
}
div.maintextregion h4 
{	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
div.maintextregion p 
{	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	text-align: justify;
}
div.maintextregion ul 
{	color: #ffffff;
	list-style-type: square;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	text-align: justify;
}
div.maintextregion td ul ul 
{	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
div.maintextregion pre 
{	color: #ffffff;
	font-size: 14px;
}
div.maintextregion td pre 
{	color: #ffffff;
	font-size: 14px;
}
div.maintextregion li pre
{       color: #ffffff;
        font-size: 14px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0 0 0 0;
}
div.maintextregion dt
{	color: #ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold
}
div.maintextregion dd 
{	color: #ffffff;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	text-align: justify;
	margin-left: 10px;
}
div.maintextregion table 
{	margin-top: 20;
}
div.maintextregion th 
{	color: #ffffff;
	background-color: #494949;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
}
div.maintextregion tr.odd 
{	color: #ffffff;
	background-color: #393939;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
div.maintextregion tr.even 
{	color: #ffffff;
	background-color: #4d4d4d;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
div.maintextregion form 
{	color: #ffffff;
	background-color: #4d4d4d;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: thin solid #424242;
	padding: 6;
}
div.maintextregion dd.left 
{	color: #ffffff;
	margin-left: 0;
}
a:link  
{	color: #7cc8ff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a:visited 
{	color: #8a8a8a;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.imgholder 
{	text-align: center;
	padding: 8;
}
.footer a:link 
{	text-decoration: underline;
	color: #0069b5;
	font-size: 12px;
	font-weight: bold;
}
.footer a:visited 
{	text-decoration: underline;
	color: #0069b5;
	font-size: 12px;
	font-weight: bold;
}
.imgholder 
{	text-align: center;
	padding: 1;
	width: 99%;
	overflow: auto;
 	overflow-y: visible;
}
div.maintextregion h3 
{	color: #0094ff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 22px;
	padding-left: 10;
}
.inh3  
{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-left: 10;
}
ol 
{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding-left: 10;
}
ul.intable 
{	margin-left:16;
}
