[Desktop Entry]
Encoding=UTF-8
Name=Frysk
#GenericName=Frysk
Comment=Frysk Monitoring Tool/Debugger
Exec=frysk
Icon=fryskTrayIcon48.png
Terminal=false
Type=Application
Categories=X-Red-Hat-Extra;Application;System;
